
<nav class="navbar navbar-expand-lg" style="background-color: #597d5e;">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center text-white" href="#" style="font-weight: 600; font-size: 1.5rem;">
      <img src="assets/LOGOS.png" alt="Logo" width="45" height="45" class="me-1">
      SportRadar
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item mx-3">
          <a class="nav-link text-white" routerLink="/"></a>
        </li>
       
        <li class="nav-item mx-3">
          <a class="nav-link text-white" [routerLink]="'/concept'">Concept</a>
        </li>
        
        <li class="nav-item mx-3">
          <a class="nav-link text-white" [routerLink]="'/programmes'">Programmes</a>
        </li>
         <li class="nav-item mx-3">
          <a class="nav-link text-white" [routerLink]="'/activite'">Activités</a>
        </li>
         <li class="nav-item mx-3">
          <a class="nav-link text-white" [routerLink]="'/abonnement'">Abonnements</a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link text-white" [routerLink]="'/blog'">Blog</a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link text-white" [routerLink]="'/contact'"></a>
        </li>
        
         <li class="nav-item mx-3">
          <a class="nav-link text " style="background-color: white; border-radius: 16px; " [routerLink]="'/connexion'">Connexion</a>
        </li>
        
      </ul>
    </div>
  </div>
</nav>

