

 <footer class="footer-container">
  <div class="footer-grid container">
    <div class="footer-section">
      <h5>Sport Radar Mumfun harmony</h5>
      <p>Votre compagnon pour une grossesse et un post-partum actifs et sereins.</p>

    
      <div class="social-icons">
  <a href="https://www.facebook.com/me/" target="_blank" aria-label="Facebook">
    <i class="bi bi-facebook"></i>
  </a>
  <a href="https://www.tiktok.com/@sportradar.fr?lang=fr" target="_blank" aria-label="Instagram">
    <i class="bi bi-instagram"></i>
  </a>
  <a href="https://www.tiktok.com/@sportradar.fr?lang=fr" target="_blank" aria-label="TikTok">
    <i class="bi bi-tiktok"></i>
  </a>
</div>

    </div>
    

    <div class="footer-section">
      <h6>Catégories</h6>
      <ul>

        <li>Bien-être féminine</li>
        <li>Cardio et renforcement</li>
        <li>Assouplissement</li>
        <li>Espace B2B</li>
        <li>Géocalisation</li>
        <li>Badge SportZen</li>

      </ul>
    </div>

    <div class="footer-section">
      <h6>Liens rapides</h6>
      <ul>
        <li>Accueil</li>
        <li>Concept</li>
        <li>Programmes</li>
        <li>Activités</li>
        <li>Abonnement</li>
        <li>Blog</li>
        
      </ul>
    </div>

    <div class="footer-section">
      <a class="contact-link" style="color: #dbfeb8;"  [routerLink]="'/contact'">
  Contact <i class="fas fa-arrow-circle-right"></i>
</a>
      
      <form class="newsletter">
        <label for="email">Inscrivez-vous à notre newsletter</label>
        <input type="email" id="email" placeholder="Votre email" />
        <button type="submit">OK</button>
      </form>
    </div>
  </div>

  <div class="footer-bottom text-center">
    <p>&copy; Tous droits réservés à Sport Radar.<br> Tous droits réservés.Projet étudiant fictif pour lequel aucun réel achat ou aucune réservation ne pourrait être effectué</p>
  </div>
</footer>
