<section class="programme-hero">
  <img src="assets/ImagesProgramme/programmeseparateur.png" alt="Bannière programmes" class="hero-img">

  <div class="hero-overlay">
    <!-- Icône décorative -->
  <img src="assets/Icone/ICONEPROGRAMME3.png" alt="icone décorative" class="tagline-icon" />
    <div class="tagline">
     <p><span>Du débutant au confirmé :</span><br>bougez à votre rythme !</p>
    </div>
  </div>

<section class="custom-banner">
  <img src="assets/Icone/ICONEPROGRAMME1.png" alt="Icône déco" class="banner-icon" />
  <h2>Choisissez votre niveau</h2>
<p>
Chaque parcours commence par vous.<br> Que vous débutiez, que vous repreniez le sport après une pause ou que vous soyez déjà actif, nos programmes s’adaptent à votre expérience et à votre rythme. 
</p>
</section>




<!--section activités-->


<section class="programme-section">
  
  <div class="programme-cards">
    
    <div class="card">
      <img src="/assets/ImagesProgramme/image1.png" alt="" class="programme-img" />
      <h3 class="programme-name">Débutant</h3>
      
      <p class="programme-desc"> Reprise en douceur, mobilité, bien-être,
         </p>
      <a routerLink="/activite" class="btn-activite white-btn">Voir les activités</a>
    </div>

    
    <div class="card">
      <img src="/assets/ImagesProgramme/image2.png" alt="" class="programme-img" />
      <h3 class="programme-name">Intermédiare</h3>
     
      <p class="programme-desc">Renforcement, cardio léger et progression</p>
     <a  routerLink="/activite" class="btn-activite white-btn">Voir les activités</a> 
    </div>
     <div class="card">
      <img src="/assets/ImagesProgramme/image3.png" alt="" class="programme-img" />
      <h3 class="programme-name">Avancé</h3>
     
      <p class="programme-desc">Programmes plus dynamiques et challenge personnel</p>
     <a  routerLink="/activite" class="btn-activite white-btn">Voir les activités</a> 
    </div>
    
   
  </div>
 
</section>
 <section class="programme-section">
  <img src="assets/Icone/ICONEPROGRAMME2.png" alt="Icône déco" class="banner-icon" />
 <h2>Un programme conçu pour retrouver équilibre et bien-être</h2>
    <p>Des solutions adaptées pour mieux comprendre ton corps et te sentir bien au quotidien</p>
 
     <div class="programme-cards">
    
    <div class="card2">
      <img src="/assets/ImagesProgramme/image4 .png" alt="" class="programme-img" />
      <h3 class="programme-name">Remise en forme</h3>
      
      <p class="programme-desc"> Reprenez le sport en douceur avec des exercices simples et accessibles
         </p>
      <a routerLink="/activite" class="btn-activite white-btn">Voir les activités</a>
    </div>
    <div class="card2">
      <img src="/assets/ImagesProgramme/image5.png" alt="" class="programme-img" />
      <h3 class="programme-name">Progression</h3>
      
      <p class="programme-desc"> Améliorez votre condition physique avec des programmes adaptés
         </p>
      <a routerLink="/activite" class="btn-activite white-btn">Voir les activités</a>
    </div>
     <div class="card2">
      <img src="/assets/ImagesProgramme/image6.png" alt="" class="programme-img" />
      <h3 class="programme-name">Equilibre</h3>
      
      <p class="programme-desc"> Des activités pour relâcher la pression et retrouver énergie et sérénité</p>
      <a routerLink="/activite" class="btn-activite white-btn">Voir les activités</a>
    </div>

  </div>
</section>

<!--section format par pratique-->
<div class=" conteneur-texte">
<h2 class="texte">Un espace pour se retrouvez, se reconnecter, bouger</h2>
</div>
 <section class="custom-banner">
  
  <img src="assets/Icone/ICONEPROGRAMME2.png" alt="Icône déco" class="banner-icon" />
  
  <h2>Des rendez-vous pour bouger autrement</h2>

 <p class="texte-seance">
Des séances organisées dans des lieux variés pour sortir du cadre habituel, 
bouger en douceur et prendre un vrai moment pour soi.
</section>
<section class="format-section">
  
  <div class="format-cards">
    
    <div class="f-card">
      <img src="/assets/ImagesProgramme/PROGRAMME1.png" alt="" class="format-img" />
    <h3 class="format-name">En plein air</h3>
       <span class="icon-circle-arrow"></span>
      <a routerLink="/activite" class="btn-format pink-btn">Parcs, jardins publics</a>
    </div>
  
   
    <div class="f-card">
      <img src="/assets/ImagesProgramme/PROGRAMME2.png" alt="" class="format-img" />
      <h3 class="format-name">Centre sportif</h3>
      <a routerLink="/activite" class="btn-format green-btn">Salles partenaires</a>
    </div>

    <div class="f-card">
      <img src="/assets/ImagesProgramme/PROGRAMME4.png" alt="" class="format-img" />
      <h3 class="format-name">Centre sportifs</h3>
      
      <a  routerLink="/activite" class="btn-format pink-btn">Salles partenaires</a>
    </div>
    <div class="f-card">
      <img src="/assets/ImagesProgramme/PROGRAMME3.png" alt="" class="format-img" />
      <h3 class="format-name">En direct</h3>
      
      <a  routerLink="/activite" class="btn-format green-btn">Avec expertes</a>
    </div>
  </div>
</section>


<!--Section video programmes-->


<div class="video-section">
  <div class="overlay">
    <h1>Prête à commencer votre parcours ?</h1>
    <p>Rejoignez Sport Radar et découvrez des programmes adaptés à votre parcours et à votre rythme.
</p>
<div class="btn-group">

      <a  [routerLink]="'/concept'"class="btn btn-outline">En savoir plus</a>
    </div>
  </div>
  
</div>




    
  

    
 
