<section class="programme-hero">
  <img src="assets/ImagesProgramme/programmeseparateur.png" alt="Bannière programmes" class="hero-img">

  <div class="hero-overlay">
    <!-- Icône décorative -->
  <img src="assets/Icone/ICONEPROGRAMME3.png" alt="icone décorative" class="tagline-icon" />
    <div class="tagline">
      <p><span>Du baby bump au baby gym :</span><br>bougez à votre rythme !</p>
    </div>
  </div>

<section class="custom-banner">
  <img src="assets/Icone/ICONEPROGRAMME1.png" alt="Icône déco" class="banner-icon" />
  <h2>Programmes par période de
     maternité </h2>
</section>




<!--section activités-->


<section class="programme-section">
  
  <div class="programme-cards">
    
    <div class="card">
      <img src="/assets/ImagesProgramme/PROGRAMME5.png" alt="" class="programme-img" />
      <h3 class="programme-name">Pendant grossesse</h3>
      
      <p class="programme-desc">Mobilité douce, bien-être,
         préparation à l'accouchement</p>
      <a routerLink="/activite" class="btn-activite white-btn">Voir les activités</a>
    </div>

    
    <div class="card">
      <img src="/assets/ImagesProgramme/PROGRAMME7.png" alt="" class="programme-img" />
      <h3 class="programme-name">Post partum à 3 mois</h3>
     
      <p class="programme-desc">Récupération douce, reprise du lien corps-esprit</p>
     <a  routerLink="/activite" class="btn-activite white-btn">Voir les activités</a> 
    </div>

    
    <!--<div class="card">
      <img src="/assets/ImagesProgramme/PROGRAMME6.png" alt="" class="progamme-img" />
      <h3 class="programme-name">Endo-Soeurs</h3>
      
      <p class="programme-desc"> Quand vos hormones font du trampoline… on t’aide à retrouver l’équilibre</p>
      <a routerLink="/activite"   class="btn-activite white-btn">Voir les activités</a>
    </div>-->
  </div>
 
</section>
 <section class="custom-banner">
  <img src="assets/Icone/ICONEPROGRAMME1.png" alt="Icône déco" class="banner-icon" />
  <h2>Un programme conçu pour soutenir l’équilibre hormonal et favoriser la santé féminine en douceur</h2>
   <p>Pathologies endocriniennes et gynécologiques féminines</p>
  <div class="card-endo">
      <img src="/assets/ImagesProgramme/PROGRAMME6.png" alt="" class="progamme-endo" />
      <h3 class="programme-name">Endo-Soeurs</h3>
      
      <p class="programme-desc"> Quand vos hormones font du trampoline… on t’aide à retrouver l’équilibre</p>
      <a routerLink="/activite"   class="btn-activite white-btn">Voir les activités</a>
    </div>
</section>

<!--section format par pratique-->
<div class=" conteneur-texte">
<h2 class="texte">Un espace pour se retrouvez, se reconnecter, bouger <br>dans un cocon de maternité</h2>
</div>
 <section class="custom-banner">
  
  <img src="assets/Icone/ICONEPROGRAMME2.png" alt="Icône déco" class="banner-icon" />
  
  <h2>Nos rendez-vous entre femmes</h2>

  <p class="texte-seance">Des séances dans des lieux insolites (oui, on sort de la salle de gym !), pour bouger en douceur, respirer un bon coup... et se rappeler qu’on a un corps, pas juste un cosy à porter.</p>
</section>
<section class="format-section">
  
  <div class="format-cards">
    
    <div class="f-card">
      <img src="/assets/ImagesProgramme/PROGRAMME1.png" alt="" class="format-img" />
    <h3 class="format-name">En plein air</h3>
       <span class="icon-circle-arrow"></span>
      <a routerLink="/activite" class="btn-format pink-btn">Parcs, jardins publics</a>
    </div>
  
   
    <div class="f-card">
      <img src="/assets/ImagesProgramme/PROGRAMME2.png" alt="" class="format-img" />
      <h3 class="format-name">Centre sportif</h3>
      <a routerLink="/activite" class="btn-format green-btn">Salles partenaires</a>
    </div>

    <div class="f-card">
      <img src="/assets/ImagesProgramme/PROGRAMME4.png" alt="" class="format-img" />
      <h3 class="format-name">Centre sportifs</h3>
      
      <a  routerLink="/activite" class="btn-format pink-btn">Salles partenaires</a>
    </div>
    <div class="f-card">
      <img src="/assets/ImagesProgramme/PROGRAMME3.png" alt="" class="format-img" />
      <h3 class="format-name">En direct</h3>
      
      <a  routerLink="/activite" class="btn-format green-btn">Avec expertes</a>
    </div>
  </div>
</section>


<!--Section video programmes-->


<div class="video-section">
  <div class="overlay">
    <h1>Prête à commencer votre parcours ?</h1>
    <p>Rejoignez Sport Radar aujourd'hui et découvrez des programmes adaptés à votre parcours de maternité.
</p>
<div class="btn-group">
    
      <button class="btn btn-outline">En savoir plus</button>
    </div>
  </div>
  
</div>




    
  

    
 
