.blog-header {
  background: linear-gradient(to right, #fdf8dc, #e3ecc5);
  padding: 2rem 2rem;
  //text-align: center;
  

}

.blog-title {
  font-size: 25px;
  font-weight: 900;
  margin-bottom: 2rem;
  color: #5f5143;
  text-align: center;
}

.blog-meta {
  display: flex;

  justify-content: center;
  gap: 1rem;
  text-align: left;
}

.author-photo {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.blog-info {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #5f5143;
  margin: 0;
}

.blog-role {
  font-size: 16px;
  font-style: italic;
 color: #5f5143;
  margin: 0;
}
@media (max-width: 768px) {
  .blog-title {
    font-size: 1.5rem;
    line-height: 1.4;
    padding: 0 1rem;
  }
}
//SECTION 2

.blog-layout {
  background: linear-gradient(to right, #fdf6e3, #e1edc9);
  padding: 60px;
  font-family: 'Montserrat', sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.left-column p, .right-column p {

  color: #5f5143;
   max-width: 300px; /*  Rend le texte étroit */
  line-height: 1.8; /*  Aère les lignes */
  font-size: 1rem; /*  Optionnel, ajuste la taille */
  //margin: 0 auto; /* Centre le bloc s’il est seul */
  text-align: justify; /*  Justifie pour un rendu plus propre */
}
 .extra-right-text {
  grid-column: 3;
  margin-top: 20px;
}

.center-image {
  display: flex;
  justify-content: center;
  align-items: center;

}

.blog-image {
  width: 100%;
  max-width: 600px;
  border-radius: 40% 60% 60% 40% / 50% 40% 60% 50%;
  object-fit: cover;
  margin-top: -390px;
}

.bottom-text {
  grid-column: 2; /* Prend toute la largeur */
  margin-top: -480px;
  font-size: 1rem;
  

  
}
.bottom-conclusion{
  grid-column: 2;
  margin-top: -220px;
}
.title.purple {
  background-color: #f6cec7;
  padding: 0.5rem 1rem;
  border-radius: 14px;
  display: inline-block;
  font-weight: bold;
  color: #5f5143;
  font-size: 16px;
  margin-bottom: 1rem;
}

/*.title {
  font-weight: bold;
  margin-bottom: 8px;
}*/

.pink {
  background-color: #fabec0;
  padding: 1rem 2rem;
  border-radius: 14px;
  display: inline-block;
  font-weight: bold;
  color: #5f5143;
  font-size: 16px;
  margin-bottom: 2rem;
  width: 100%;
     }


 h3{
  color: #5F5143;
  font-weight: bold;
 }

.podcast {
  display: flex;
  align-items: center;

  margin-top: 10px;
  font-size: 16px;
   color: #5f5143;
}

.podcast-icon {
  width: 60px;
  height: 60px;
}

// SECTION 3


.blog-section {
  
  //font-family: 'Inter', sans-serif;
  margin: 20px;
  
}

.container-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.blog-title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: 'Montserrat';
}

.meta-info {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-bottom: 20px;
}

.author-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.highlight-title {
  color: #5F5143;
  font-weight: bold;
  font-size: 16px;
  //margin: 20px;
  background-color: #dde5b6;
  display: inline-block;
}

.texte-grossesse{
  font-size: 20px;
  //line-height: 1.5;
  background-color:#f6cec7;
   padding: 0.5rem 1rem;
   margin: 30px;
  display: inline-block;
  border-radius: 20px;
}


.column{
  
  border-right: 2px solid #5F5143; /* couleur et épaisseur */
  
  
}
hr {
  border-top: 2px solid #5F5143; /* couleur et épaisseur */
  margin: 20px 0;  
  
}

.boussole-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  //background-color: #f6f6e8;
  padding: 20px;
  border-radius: 10px;
  flex-wrap: wrap; /* pour le responsive */
}

.pink-box {
  flex: 1;
  min-width: 250px;
}

.boussole-image {
  
  width: 100px;

}
.column-right{
  color: #5f5143;
   max-width: 450px; /*  Rend le texte étroit */
  line-height: 1.5; /*  Aère les lignes */
  font-size: 16px; /*  Optionnel, ajuste la taille */
  //margin: 0 auto; /* Centre le bloc s’il est seul */
  text-align: justify; /*  Justifie pour un rendu plus propre */
}


.pink-box {
  
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
}

.pink-box.light {
  display: flex;
  
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
  border-radius: 10px;
  flex-wrap: wrap; /* pour le responsive */
  
}

.pink-box h4 {
  
  font-weight: bold;
  color: #5F5143;
  background-color: #f6cec7;
  border-radius: 20px;
  padding: 0.5rem 1rem;
}

.rounded-img {
  width: 160px;
  border-radius: 20px;
  margin: 20px 0;
}


.top-image {
  width: 70%;
  
}

.image {
  grid-column: 2;
  //display: flex;
padding: 20px;
  margin-top: 5px;
  //gap: 10px;
}



.sport-img {
  width: 160px;
  border-radius: 15px;
}
