<div class="abonnement-page">
  <div class="abonnement-header">
    <h1>Accès illimité au bien -être</h1>
    <h3 class="abonnement">Abonnement premium</h3>
<div class="switch-buttons">
  <button class="selected">
    <img src="assets/ImagesAbonnement/Utilisatrice.png" alt="Utilisatrice" class="icon" />
    Utilisateurs
  </button>
  <button>
    <img src="assets/ImagesAbonnement/Entreprise.png" alt="Entreprise" class="icon" />
    Entreprise
  </button>
</div>

    <p class="subtitle">Accédez à l’ensemble de nos fonctionnalités en illimité grâce à un abonnement mensuel.</p>
  </div>

  <div class="abonnement-card">
    <div class="price">
      <span class="amount">19,90 €</span>
      <span class="per-month">/ mois</span>
    </div>
    <span class="engagement">Sans engagement</span>
    <ul class="features">
      <li>Accès illimité à toutes nos séances</li>
      <li>Séance personnalisée</li>
      <li>Ta coach est amusante et motivante</li>
      <li>Lives mensuels avec des experts</li>
      <li>Forum sécurisé entre abonnés</li>
      <li>Blog</li>
    </ul>
    <a [routerLink]="'/inscription'" class="subscribe-btn">S’inscrire</a>
    <p class="trial-text">7 jours d’essai</p>
  </div>
  <!--Laflêche-->
  <div class="fleche">
  <img src="assets/ImagesAbonnement/fleche.png" alt="fleche">
   </div>
  <!--SECTION CARTE-->

<div class="abonnement-header">
    <h1>Mes envies, mes séances</h1>
    <h3 class="abonnement">Abonnement freemium</h3>


    <p class="subtitle">Explorez librement des activités gratuites et payez uniquement <br>pour les options supplémentaires qui vous intéressent.</p>
  </div>

  <div class="abonnement-card">
    <div class="price">
      <span class="amount">à la carte</span>
      
    </div>
    <span class="engagement">Sans engagement</span>
    <ul class="features">
      <li>Accès illimité à toutes nos séances</li>
      <li>Séance personnalisée</li>
      <li>Ta coach est amusante et motivante</li>
      <li>Lives mensuels avec des experts</li>
      <li>Forum sécurisé entre abonnés</li>
      <li>Blog</li>
    </ul>
     <a [routerLink]="'/inscription'" class="subscribe-btn">S’inscrire</a>
    
  </div>

  <!--SECTION ENTREPRISE-->

  <div class="abonnement-layout">
  <div class="image-section">
    <div class="image-wrapper top-bar">
      <div class="bar top"></div>
      <img src="assets/ImagesAbonnement/Abon1.png" alt="Image 1" />
    </div>

    <div class="image-wrapper bottom-bar">
      <img src="assets/ImagesAbonnement/ICONE2.png" alt="Image 2" />
      <div class="bar bottom"></div>
    </div>

    <div class="image-wrapper top-bar">
      <div class="bar top"></div>
      <img src="assets/ImagesAbonnement/Abon2.png" alt="Image 3" />
    </div>
  </div>

  <div class="icone-section">
    <div class="icon-card pink">
      <img src="assets/ImagesAbonnement/ICONE5.png" alt="Geo Icon" />
      <p>Recommandations<br />géolocalisées</p>
    </div>

    <div class="icon-card green">
      <img src="assets/ImagesAbonnement/ICONE4.png" alt="Profile Icon" />
      <p>Activités personnalisées</p>
    </div>
  </div>
</div>

<!--SECTION 2-->

<div class="abonnement-entreprise">

  <h2>Offre partenaire</h2>
 <div class="switch-buttons">
  <button >
    <img src="assets/ImagesAbonnement/Utilisatrice.png" alt="Utilisatrice" class="icon" />
    Utilisateurs
  </button>
  <button class="selected">
    <img src="assets/ImagesAbonnement/Entreprise.png" alt="Entreprise" class="icon" />
    Espace B2B
  </button>
</div>

  <p class="sous-texte">
    Un tarif calibré pour les politiques RH de bien-être au travail, permettant aux entreprises de l’offrir comme avantage salarié remboursé ou co-financé.
  </p>

  <div class="contenu-offre">
    <div class="bloc-gauche">
      <div class="entete-gauche">
        <img src="assets/ImagesAbonnement/Entreprise.png" alt="icone entreprise" class="icon-gauche">
        <h3>Espace pro et entreprise</h3>
      </div>
      <p class="intro">Améliorer le bien-être au travail n’a jamais été aussi simple.</p>
      <ul class="liste-avantages">
        <li><img src="assets/ImagesAbonnement/ICONE6.png" alt="check"> Amélioration de la qualité de vie au travail (QVT)</li>
        <li><img src="assets/ImagesAbonnement/ICONE6.png" alt="check"> Réduction du stress des employés</li>
        <li><img src="assets/ImagesAbonnement/ICONE6.png" alt="check">Augmentation de l’engagement des collaborateurs</li>
        <li><img src="assets/ImagesAbonnement/ICONE6.png" alt="check"> Réduction du taux d’absentéisme lié à la santé</li>
      </ul>
    </div>

    <div class="bloc-droit">
      <h1>Demandez votre devis</h1>
      <form>
        <label>Nom de l’entreprise</label>
        <input type="text" placeholder="Votre nom d’entreprise" />

        <label>Courriel professionnel</label>
        <input type="email" placeholder="Votre email" />

        <label>Nombre d’employés</label>
        <select>
          <option>Sélectionner</option>
          <option>1-10</option>
          <option>11-50</option>
          <option>50+</option>
        </select>

        <label>Message (facultatif)</label>
        <textarea placeholder="Décrivez vos besoins spécifiques"></textarea>

        <button class="btn-devis">Recevez mon devis gratuitement</button>
        <small>Besoin d’aide ? Contacter notre équipe</small>
      </form>
    </div>
  </div>

  <div class="badges-footer">
    <div class="badge">
      <img src="assets/ImagesAbonnement/ICONE8.png" alt="check badge" class="badge-icon"/>
      <p class="title"><strong>Renforcement de votre politique RSE et QTV</strong></p>
    </div>
    <div class="badge">
      <img src="assets/ImagesAbonnement/ICONE8.png" alt="check badge" class="badge-icon" />
      <p class="title"><strong>Tarifs préférentiels pour vos employés</strong></p>
    </div>
  </div>

</div>



